<!-- <form class="d-flex justify-content-start m-5" #searchForm="ngForm" (ngSubmit)="search(searchForm)">
  <input class="form-control me-2" [(ngModel)]="fullName" name="fullName" type="search"  placeholder="Search PEP sanction List" aria-label="Search">
  <button class="btn btn-primary" type="submit">Search</button>

</form> -->
<app-searchbar (searchValueChanging)="onSearchValueEntered($event)" class="d-flex"></app-searchbar>
           
<div class="d-flex justify-content-between" >
                <table class="table table-striped" >
                    <thead>
                      <tr>
                        <th scope="col">Logical Id</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Found From</th>
                      </tr>
                    </thead>
                    <tbody *n>
                      <tr *ngIf="dataModel !=null">
                        <!-- <th scope="row">{{dataModel.nameInEng}}</th>
                        <td> <span >{{dataModel.wholeName.replace("null", ".")}} <a href="customer-detail/{{dataModel.id}}" class="btn-primary">Detial</a></span></td>
                        <td>{{dataModel.country}}</td>
                        <td>{{dataModel.from +" Sanction List"}}</td>
                        <td></td> -->

                      </tr>
                    </tbody>
                  </table>
            </div>
