.btn-primary {
    background: #1056ed !important;
    border: 1px solid #0000FF !important;
    color: #fff !important;
    :hover {
        border: 1px solid #0000FF;
        background: transparent;
        color :#0000FF;
    }
    .btn-outline-primary {
        border: 1px solid #1056ed;
        background: transparent;
        color : #0000FF;
        :hover {
            border: 1px solid transparent;
            background: #0000FF;
            color :#fff;
        }
    }
}


button{
    margin-bottom: 10px;
}
